.ant-message-notice {
  padding: 0;
}
.notifyStyles {
  margin-top: 72px;
}
.notifyStyles :global .ant-message-custom-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-height: 40px;
  color: white;
  border-radius: 4px;
  border-radius: 2px;
  padding: 9px 17px;
}
.notifyStyles :global .ant-message-custom-content .ant-message .anticon {
  margin: 0px;
}
.notifyStyles :global .ant-message-success {
  background: #f6ffed;
  border: 1px solid #b7eb8f;
}
.notifyStyles :global .ant-message-notice-content {
  padding: 0;
}
.notifyStyles .notify-text {
  font-family: Circular-Std-book;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #3d3d46;
}
.notifyStyles .notify-icon {
  font-size: 14px;
}
.notifyStyles .notification-content .close-icon {
  color: #595959;
  font-size: 12px;
  margin: 0;
  cursor: pointer;
  padding-left: 11px;
}
